body {
    font-family: Monospace;
    background-color: rgba(100,100,100);
    color: #fff;
    margin: 0px;
    overflow: hidden;
}


.jeefacetransferCanvas {
    z-index: 200;
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-height: 25vh;
}
/* 
.webojiCanvas {
    z-index: 0;
    display: none;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    width: 100vmin;
    transform: translate(-50%, -50%);
} */

#dropbox{
    z-index: 2;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

#debugWindow {
    z-index: 200;
    position: absolute;
    max-width: 250px;
    width: 50%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* max-height: 25vh; */
}