body {
    background-color: rgba(100,100,100);
    color: #fff;
    margin: 0px;
    overflow: hidden;
}


.jeefacetransferCanvas {
    z-index: 200;
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-height: 25vh;
}
/* 
.webojiCanvas {
    z-index: 0;
    display: none;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    width: 100vmin;
    transform: translate(-50%, -50%);
} */

#dropbox{
    z-index: 2;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

#debugWindow {
    padding: 5px;
    z-index: 200;
    position: absolute;
    max-width: 250px;
    width: 50%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* max-height: 25vh; */
}


.demo-layout-transparent .mdl-layout__header,.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
        your background is light. */
     color: white;
    }
    .mdl-layout__drawer-button >i{
        color:rgba(0, 0, 0, 0);
        height: 30px;
        width:  30px;
    
        background: url("../assets/img/logoShadow.png");
        background-size: cover;
    
    }
    .closed{
        display: none;
    }
    
    .accordion{
        text-align: left;
    }
    .mdl-button--file input {
        cursor: pointer;
        height: 100%;
        right: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 4;
      }
      
      .mdl-textfield--file .mdl-textfield__input {
        box-sizing: border-box;
        width: calc(100% - 32px);
      }
      .mdl-textfield--file .mdl-button--file {
        right: 0;
      }
    
    
      #uploadCard{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;    
        max-height: 100px;
        max-width: 90%;
        position: absolute;
        margin: auto;
    }
    
    .thresholdItem{
        padding-left: 25px;
    }
    
      #avatarData{
        max-height: 90%;
        position: absolute;  
        z-index: 3;
        width: 600px;
        max-width: 90%;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        display: none;
        color: #000;
        overflow:auto;
    
      }
      #avatarData > .mdl-card__supporting-text{
        /* max-height: calc(80vh - 160px)  ; */
      }
      #avatarMetaData{
      }
      #avatarMetaTable>tbody>tr>td{
        max-height: 60px;
        width: 50%;
        word-break: break-all;
        word-wrap: break-all;
      }
    
      #loadSpinner{
        height: 60px;
        width: 60px;
        top: 80%;
        left: calc(50% - 30px);
        
        z-index: 3;
        position: absolute;
      }